<?php session_start();?>

<html>
<head>
	<style type="text/css">

	</style>
</head>


<body >
	  <div  style="text-aclign:center;">
	  	<image src="/resource/image/logo.jpg" width="80" height="80"/>
	  	<span><a href="index.php">首页</a></span>&nbsp;
	    <span><a href="courseList.php?kind=math">在线课程</a></span>
	  </div>
	<?php if(isset($_SESSION['userId'])) {?>
		<div style=" width:20%;float:right;">
		   <a href="/view/user.php?kind=math"><image src="/resource/image/avatar.jpeg" width="50" height="50"/></a>
		</div>		

        <?php }else{ ?>   
		 <div style=" width:20%;float:right;">
			<span><a id="login" href="login.php">登录</a></span>
			<span><a href="register.php">注册</a></span>
		 </div>
	<?php } ?>	
	
</body>
</html>
